<!-- Header -->
<app-header></app-header>

<!-- Header -->
<br>



<!-- Rankings Section -->
<p class="center aligned"><button class="ui blue button center large" routerLink="/profile">
    Click here to see results
  </button></p>
<h1 class="ui header primary bolder large center aligned">Rankings</h1>
<div class="ui grid container">
  <div class="two wide column"></div>
  <div class="four wide column center aligned">
    <h2 class="ui header primary bolder">1st</h2>
    <a class="ui green circular label massive">{{firstString}}</a>
  </div>
  <div class="four wide column center aligned">
    <h2 class="ui header primary bolder">2nd</h2>
    <a class="ui orange circular label massive">{{secondString}}</a>
  </div>
  <div class="four wide column center aligned">
    <h2 class="ui header primary bolder">3rd</h2>
    <a class="ui red circular label massive">{{thirdString}}</a>
  </div>
  <div class="two wide column"></div>
</div>
<!-- Rankings Section -->
<hr>
<br>
<br>

<br>
<div class="ui grid container">

  <div class="three wide column"></div>
  <div class="ten wide column center aligned">

    <a class="ui tag label large" style="background-color:#f0483e">R</a>
    <a class="ui tag label large" style="background-color:#f8941e">I</a>
    <a class="ui tag label large" style="background-color:#ffce02">A</a>
    <a class="ui tag label large" style="background-color:#00773f; color:white">S</a>
    <a class="ui tag label large" style="background-color:#0073a4; color:white">E</a>
    <a class="ui tag label large" style="background-color:#9279b7;color:white">C</a>
    <h3 class="ui header primary bolder">Color Labels</h3>
  </div>
  <div class="three wide column"></div>

</div>

<br>


<!-- Activities Section -->
<div class="ui container">
  <h4 class="ui horizontal divider header ">
    <i class="tag icon"></i>
    Activities
  </h4>
  <div class="ui grid" style="padding:20px;">
    <div class="two wide column"></div>
    <div *ngFor="let activity of activities; let i = index">
      <div class="two wide column">
        <a class="ui tag label massive" [ngStyle]="{'background-color': getBackgroudColor(i),'width': '100px'}">{{activity}}</a>
      </div>
    </div>
    <div class="two wide column"></div>

  </div>
</div>
<!-- Activities Section -->

<!-- Competencies Section -->
<div class="ui container">
  <h4 class="ui horizontal divider header ">
    <i class="tag icon"></i>
    Competencies
  </h4>
  <div class="ui grid" style="padding:20px;">
    <div class="two wide column"></div>
    <div *ngFor="let competency of competencies; let i = index">
      <div class="two wide column">
        <a class="ui tag label massive" [ngStyle]="{'background-color': getBackgroudColor(i),'width': '100px'}">{{competency}}</a>
      </div>
    </div>
    <div class="two wide column"></div>

  </div>
</div>
<!-- Competencies Section -->


<!-- Occupations Section -->
<div class="ui container">
  <h4 class="ui horizontal divider header ">
    <i class="tag icon"></i>
    Occupations
  </h4>
  <div class="ui grid" style="padding:20px;">
    <div class="two wide column"></div>
    <div *ngFor="let job of jobs; let i = index">
      <div class="two wide column">
        <a class="ui tag label massive" [ngStyle]="{'background-color': getBackgroudColor(i),'width': '100px'}">{{job}}</a>
      </div>
    </div>
    <div class="two wide column"></div>

  </div>
</div>
<!-- Occupations Section -->


<!-- Self Estimates Part 1 Section -->
<div class="ui container">
  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Self Estimates Part 1
  </h4>
  <div class="ui grid" style="padding:20px;">
    <div class="two wide column"></div>
    <div *ngFor="let selfEsti1 of self_estimates1; let i = index">
      <div class="two wide column">
        <a class="ui tag label massive" [ngStyle]="{
          'background-color': getBackgroudColor(i),
          'width': '100px'
        }">{{selfEsti1}}</a>
      </div>
    </div>
    <div class="two wide column"></div>

  </div>
</div>
<!-- Self Estimates Part 1 Section -->

<!-- Self Estimates Part 2 Section -->
<div class="ui container">
  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Self Estimates Part 2
  </h4>
  <div class="ui grid" style="padding:20px;">
    <div class="two wide column"></div>
    <div *ngFor="let selfEsti2 of self_estimates2; let i = index">
      <div class="two wide column">
        <a class="ui tag label massive" [ngStyle]="{'background-color': getBackgroudColor(i),'width': '100px'}">{{selfEsti2}}</a>
      </div>
    </div>
    <div class="two wide column"></div>

  </div>
</div>
<!-- Self Estimates Part 2 Section -->

<!-- Summary Section -->
<div class="ui container">
  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Summary
  </h4>
  <div class="ui grid" style="padding:20px;">
    <div class="two wide column"></div>
    <div *ngFor="let summary of summarys; let i = index">
      <div class="two wide column">
        <a class="ui tag label massive" [ngStyle]="{'background-color': getBackgroudColor(i),'width': '100px'}">{{summary.value}}</a>
      </div>
    </div>
    <div class="two wide column"></div>

  </div>
</div>
<!-- Summary Section -->