<div class="ui top attached demo menu">
  <a class="item" (click)="saydbar.toggle()">
    <i class="sidebar icon"></i>
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui blue button" (click)="logout()">Logout</div>
    </div>
  </div>
</div>
<sui-sidebar-container class="ui bottom attached segment">
  <sui-sidebar class="vertical" #saydbar>
    <a class="item " routerLink="/admin-home">
      Home
    </a>
    <a class="item active" routerLink="/admin-graph-specific">
      Specific Reports
    </a>
    <a class="item" routerLink="/admin-graph-general">
      General Reports
    </a>
    <a class="item" routerLink="/admin-new-print">
      Print Section
    </a>
    <a class="item" routerLink="/admin-new-archive">
      Archive Section
    </a>
    <a class="item" routerLink="/admin-settings">
      Accounts Settings
    </a>
    <a class="item" routerLink="/admin-events">
      Events
    </a>
    <a class="item" routerLink="/admin-messages">
      Messages
    </a>
  </sui-sidebar>
  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
    <div class="ui basic segment" style="padding:35px;" *ngIf="!printing">

      <h2 class="ui icon header center aligned">
        <i class="circular info icon"></i>
        <div class="content">
          Specific Report Section
          <div class="sub header">Generate/Analyze a report for a specific problem(s)</div>
        </div>


      </h2>
      <div class="ui info message container">
        <div class="header">
          Some of the action you can do in this section
        </div>
        <ul class="list">
          <li>Generate a visual report about specific problem(s)</li>
          <li>Modify the criteria of the students</li>

          <li>Change chart style</li>
          <li>Export to PDF the generated visual report</li>
        </ul>
      </div>



      <div class="ui grid">

        <div class="three wide column">
          <div class="ui card">
            <div class="content">
              <div class="ui header primary bolder">Criteria</div>
            </div>
            <div class="content">
              <div class="ui active dimmer" *ngIf="loader">
                <div class="ui mini text loader">Loading</div>
              </div>
              <sui-accordion [closeOthers]="false">
                <sui-accordion-panel [isOpen]="false" *ngFor="let indivCriteria of criteria">
                  <div title style="text-transform:capitalize;">
                    <i class="dropdown icon"></i>
                    {{indivCriteria.fieldname}}
                  </div>
                  <div content>
                    <div class="ui form">
                      <div class="grouped fields">
                        <div class="field" *ngFor="let value of indivCriteria.values">
                          <sui-checkbox [(ngModel)]="value.isChecked" (ngModelChange)="try()">{{value.label}}
                          </sui-checkbox>
                        </div>


                      </div>
                    </div>
                  </div>
                </sui-accordion-panel>
              </sui-accordion>
            </div>
          </div>



        </div>

        <div class="ten wide column">
          <div class="ui card" style="width:100%">
            <div class="content">
              <div class="ui active dimmer" *ngIf="loader">
                <div class="ui mini text loader">Loading</div>
              </div>
              <div *ngIf="withResult">
                <div class="ui form">
                  <div class="inline fields">
                    <label for="fruit">Select chart:</label>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name='options' [value]="'column2d'" [checked]='chart === "column2d"'
                          (change)="onSelectionChange('column2d')">
                        <label>Column2d</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name='options' [value]="'bar2d'" [checked]='chart === "bar2d"'
                          (change)="onSelectionChange('bar2d')">
                        <label>Bar2d</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name='options' [value]="'pie2d'" [checked]='chart === "pie2d"'
                          (change)="onSelectionChange('pie2d')">
                        <label>Pie2d</label>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="center" *ngIf="withResult"><button class="ui button blue" (click)="print($event)">Export to
                    PDF</button></p>

              </div>
              <br>
              <fusioncharts *ngIf="withResult" (initialized)="initialized($event)" [width]="chartWidth" height="700"
                type="column2d" [dataSource]="dataSource">
              </fusioncharts>



              <h1 *ngIf="!withResult" class="center primary bolder">No result</h1>
            </div>
          </div>



        </div>

        <div class="three wide column">
          <div class="ui card">
            <div class="content">
              <div class="ui header bolder primary">Problems</div>
            </div>
            <div class="content">
              <div class="ui active dimmer" *ngIf="loader">
                <div class="ui mini text loader">Loading</div>
              </div>
              <sui-accordion [closeOthers]="false">
                <sui-accordion-panel [isOpen]="false" *ngFor="let indivProblems of problems">
                  <div title>
                    <i class="dropdown icon"></i>
                    {{indivProblems.name}}
                  </div>
                  <div content>
                    <div class="ui form">
                      <div class="grouped fields">
                        <div class="field" *ngFor="let problem of indivProblems.questions">
                          <sui-checkbox [(ngModel)]="problem.value" (ngModelChange)="try()">{{problem.label}}
                          </sui-checkbox>
                        </div>


                      </div>
                    </div>
                  </div>
                </sui-accordion-panel>
              </sui-accordion>
            </div>
          </div>

        </div>
      </div>

    </div>
  </sui-sidebar-sibling>
</sui-sidebar-container>


<sui-modal [isFullScreen]="true" *ngIf="dataplotModal" [isClosable]="false" [mustScroll]="true"
  (dismissed)="dataplotModal = false" #criWithProb>

  <div class="header">
    {{category_header}}
    <button class="ui labeled icon button right floated" (click)="maPrint()" *ngIf="!printing">
      <i class="print icon"></i>
      Print
    </button>
    <button class="ui blue button right floated" (click)="isEventModal = true;">
      Invite all to an event
    </button>
  </div>

  <div class="content">
    <table class="ui large table">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Year</th>
        <th>Course</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataPlotData">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.year}}</td>
          <td>{{item.course}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="actions" *ngIf="!printing">
    <button class="ui red button" (click)="criWithProb.deny()">Close</button>
  </div>

</sui-modal>

<sui-modal [isClosable]="false" [mustScroll]="true" (dismissed)="isEventModal = false" #selectModal
  *ngIf="isEventModal">

  <div class="content">
    <table class="ui celled table">
      <thead>
        <tr>
          <th colspan="2">Poster with Event Name</th>
          <th>Description</th>
          <th>Time From</th>
          <th>Time To</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let event of events">
          <td colspan="2">
            <h4 class="ui image header">
              <img src="{{event.poster_url}}" class="ui mini rounded image">
              <div class="content">
                {{event.name}}

              </div>
            </h4>
          </td>

          <td>{{trim(event.description)}}</td>
          <td>{{event.time_from}}</td>
          <td>{{event.time_to}}</td>
          <td><button class="ui green button" (click)="inviteAll(event)">Select</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="actions">
    <button class="ui red button" (click)="selectModal.deny()">Close</button>
  </div>
</sui-modal>