<div class="ui small menu">
  <a class="item" routerLink="/admin/home">
    Home
  </a>
  <a class="item active" routerLink="/admin/graph">
    Graphs
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui blue button">Logout</div>
    </div>
  </div>
</div>


<div class="ui grid" style="padding:10px;">
  <div class="three wide column">
    <div class="ui form">
      <div class="ui active dimmer" *ngIf="loader">
        <div class="ui mini text loader">Loading</div>
      </div>
      <div class="grouped fields" *ngFor="let indivCriteria of criteria">
        <label>{{indivCriteria.fieldname}}</label>
        <div class="field" *ngFor="let value of indivCriteria.values">
          <sui-checkbox [(ngModel)]="value.isChecked" (ngModelChange)="try()">{{value.label}}</sui-checkbox>
        </div>


      </div>
    </div>
  </div>

  <div class="ten wide column">
    <p class="center" *ngIf="withResult"><button class="ui button blue" (click)="print($event)">Export to PDF</button></p>
    <fusioncharts *ngIf="withResult" width="900" height="500" type="Column2d" [dataSource]="dataSource">
    </fusioncharts>

    <h1 *ngIf="!withResult" class="center primary bolder">No result</h1>
  </div>

  <div class="three wide column">
    <div class="ui active dimmer" *ngIf="loader">
      <div class="ui mini text loader">Loading</div>
    </div>
    <sui-accordion [closeOthers]="false">
      <sui-accordion-panel [isOpen]="false" *ngFor="let indivProblems of problems">
        <div title>
          <i class="dropdown icon"></i>
          {{indivProblems.name}}
        </div>
        <div content>
          <div class="ui form">
            <div class="grouped fields">
              <div class="field" *ngFor="let problem of indivProblems.questions">
                <sui-checkbox [(ngModel)]="problem.value" (ngModelChange)="try()">{{problem.label}}</sui-checkbox>
              </div>


            </div>
          </div>
        </div>
      </sui-accordion-panel>
    </sui-accordion>
  </div>
</div>