<!-- Header -->
<app-header></app-header>

<!-- Header -->
<br>
<div class="ui container">

    <h1 class="ui header bolder primary underlined">Questions Page</h1>
    <div class="ui breadcrumb">
        <a class="section" routerLink="/">Home</a>
        <i class="right arrow icon divider"></i>
        <div class="active section">Questions</div>
    </div>
    <hr>
</div>


<br>


<div class="ui grid container">
    <div class="eighteen wide column">


        <h2 class="ui header huge center aligned primary bolder">
            {{title}}
            <div class="sub header">Likes: {{currentLike}}</div>
        </h2>


        <table class="ui celled selectable table">
            <thead>
                <tr>
                    <th>Questions</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of currentQuestion;let i = index">
                    <td class="primary bolder" style="font-size:1.2rem;">{{question.qst}}</td>
                    <td>
                        <div class="ui form">
                            <div class="inline fields">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="{{question.qst}}" (click)="like(i)">
                                        <label style="font-size:1.1rem;font-weight: 600">Like</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="{{question.qst}}" (click)="dislike(i)">
                                        <label style="font-size:1.1rem;font-weight: 600">Dislike</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>

        </table>
        <button class="ui right floated blue button " (click)="change()">
            Submit
        </button>
    </div>
</div>

<div class="ui dimmer" [ngClass]="{'active': loader}">
    <div class="ui loader"></div>
</div>