<div class="ui basic segment" *ngIf="!printing">
  <button class="ui secondary labeled icon button" style="margin-bottom:10px;" routerLink="/admin-home">
    <i class="left arrow icon"></i>
    Back to dashboard
  </button>



  <div class="container clearfix">

    <div class="people-list" id="people-list">
      <div class="search">
        <input type="text" placeholder="search" />
        <i class="fa fa-search"></i>
      </div>
      <ul class="list">
        <li class="clearfix" [ngClass]="{'active': contact.isSelected}" *ngFor="let contact of contacts;let i = index"
          (click)="selectContact(i);getMessages(contact.convo_name);">

          <img [src]="contact.dp_path" alt="avatar" class="ui avatar mini image" />
          <div class="about">

            <div class="name primary">

              {{contact.name}}
              <a class="ui empty circular label" style="margin-left:5px;" [ngClass]="{'green': contact.isOnline,
              'grey': !contact.isOnline}"></a>
            </div>
            <p>{{contact.recent_msg}}</p>
            <span style="text-align: right" [ngClass]="{'online-text': contact.isOnline}">
              {{contact.isOnline ? 'Active Now' : 'Last online: '+durationLastOnline(contact.last_online)}}
            </span>

          </div>
        </li>


      </ul>
    </div>
    <div class="chat">
      <div class="chat-header clearfix" *ngIf="selectedContact">
        <img src="{{selectedContact.dp_path}}" class="ui avatar tiny image" alt="avatar" />

        <div class="chat-about">
          <div class="chat-with">Chat with {{selectedContact.name}}</div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->

      <div class="chat-history">
        <div class="ui active centered inline loader" *ngIf="isLoading"></div>
        <ul>
          <cdk-virtual-scroll-viewport [itemSize]="messages.length" *ngIf="messages"
            (scrolledIndexChange)="getNextBatch($event)" #scrollMe>
            <li class="clearfix" *cdkVirtualFor="let message of messages">
              <div class="message-data " [ngClass]="{'align-right': selectedContact.contact_user_id == message.id}">
                <span class="message-data-time">{{message.timestamp}}</span> &nbsp; &nbsp;
                <span class="message-data-name">{{message.name}}</span> <i class="fa fa-circle me"></i>

              </div>
              <div class="message" [ngClass]="{'other-message': selectedContact.contact_user_id == message.id,
                                            'float-right': selectedContact.contact_user_id == message.id,
                                            'my-message': selectedContact.contact_user_id != message.id}">
                {{message.message}}
              </div>

            </li>
          </cdk-virtual-scroll-viewport>



        </ul>




      </div> <!-- end chat-history -->

      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"
          #userMsg></textarea>

        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>

        <button (click)="sendMessage(userMsg.value, selectedContact.convo_name)">Send</button>

      </div> <!-- end chat-message -->

    </div> <!-- end chat -->

  </div> <!-- end container -->









</div>