<div *ngIf="view">
  <!-- Header -->
  <app-header></app-header>

  <!-- Header -->
  <br>

  <div class="ui piled segment container">
    <h4 class="ui header large primary bolder">Self Directed Search</h4>
    <p>Rate yourself on each of the following traits, as compared with other persons your own age,
      by circling the
      appropriate
      number.
    </p>
    <p>Give an accurate estimate of how you see yourself; try to avoid rating yourself the same each ability.</p>
  </div>

  <div class="ui container center aligned">
    <h2 class="primary bolder ui header">Levels</h2>
    <a class="ui tag label" style="background-color:#f44336">Low</a>
    <a class="ui tag label" style="background-color:#ff9800">Medium</a>
    <a class="ui tag label" style="background-color:#4caf50">High</a>
  </div>
  <br>

  <div class="ui container">
    <table class="ui table">
      <thead>
        <tr class="center aligned">
          <th>Mechanical Ability</th>
          <th>Scientific Ability</th>
          <th>Artistic Ability</th>
          <th>Teaching Ability</th>
          <th>Sales Ability</th>
          <th>Clerical Ability</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of myArray;let i = index" class="center aligned">
          <td><button [ngClass]="{'ui': true, 'button': true, 'circular': true, 'large': true}" [ngStyle]="{
                'background-color': selectedMechanical==i ? mechanical.color: '',
                'font-weight': selectedMechanical==i ? 'bolder' : 'normal'
              }" (click)="selectedMechanical=i;setValue('mechanical', item);">{{item}}</button></td>


          <td><button [ngClass]="{'ui': true, 'button': true, 'circular': true, 'large': true}" [ngStyle]="{
                  'background-color': selectedScientific==i ? scientific.color : '',
                  'font-weight': selectedScientific==i ? 'bolder' : 'normal'
                }" (click)="selectedScientific=i;setValue('scientific', item)">{{item}}</button></td>


          <td><button [ngClass]="{'ui': true , 'button': true, 'circular': true, 'large': true}" [ngStyle]="{
                'background-color': (selectedArtistic==i) ? artistic.color: '',
                'font-weight': selectedArtistic==i ? 'bolder' : 'normal'
              }" (click)="selectedArtistic=i;setValue('artistic',item)">{{item}}</button></td>

          <td><button [ngClass]="{'ui': true,'button': true, 'circular': true, 'large': true}" [ngStyle]="{
                'background-color': (selectedTeaching==i) ? teaching.color: '',
                'font-weight': selectedTeaching==i ? 'bolder' : 'normal'
              }" (click)="selectedTeaching=i;setValue('teaching',item);">{{item}}</button></td>



          <td><button [ngClass]="{'ui': true,'button': true, 'circular': true, 'large': true}" [ngStyle]="{
                'background-color': (selectedSales==i) ? sales.color: '',
                'font-weight': selectedSales==i ? 'bolder' : 'normal'
              }" (click)="selectedSales=i;setValue('sales',item);">{{item}}</button></td>


          <td><button [ngClass]="{'ui': true,'button': true, 'circular': true, 'large': true}" [ngStyle]="{
                'background-color': (selectedClerical==i) ? clerical.color: '',
                'font-weight': selectedClerical==i ? 'bolder' : 'normal'
              }" (click)="selectedClerical=i;setValue('clerical',item);">{{item}}</button></td>
        </tr>

        <tr class="center aligned">
          <td>
            <button class="circular ui icon button large" style="background-color:#f0483e">
              <i class="wrench icon"></i>
            </button>
          </td>
          <td>
            <button class="circular ui icon button large" style="background-color:#f8941e">
              <i class="pencil alternate icon"></i>
            </button>
          </td>
          <td>
            <button class="circular ui icon button large" style="background-color:#ffce02">
              <i class="paint brush icon"></i>
            </button>
          </td>
          <td>
            <button class="circular ui icon button large" style="background-color: #00773f">
              <i class="users icon"></i>
            </button>

          </td>
          <td>
            <button class="circular ui icon button large" style="background-color:#0073a4">
              <i class="briefcase icon"></i>
            </button>

          </td>
          <td>
            <button class="circular ui icon button large" style="background-color:#9279b7">
              <i class="file alternate icon"></i>
            </button>

          </td>
        </tr>


      </tbody>
    </table>
  </div>

  <br>


  <div class="ui container">
    <table class="ui table">
      <thead>
        <tr class="center aligned">
          <th>Manual Ability</th>
          <th>Math Ability</th>
          <th>Musical Ability</th>
          <th>Understand of Others</th>
          <th>Managerial Ability</th>
          <th>Office Skills</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of myArray;let i = index" class="center aligned">
          <td><button [ngClass]="{'ui': true, 'button': true, 'circular': true, 'large':true}" [ngStyle]="{
              'background-color': selectedManual==i ? manual.color: '',
              'font-weight': selectedManual==i ? 'bolder' : 'normal'
            }" (click)="selectedManual=i;setValue('manual', item);">{{item}}</button></td>

          <td><button [ngClass]="{'ui': true, 'button': true, 'circular': true, 'large':true}" [ngStyle]="{
              'background-color': selectedMath==i ? math.color : '',
              'font-weight': selectedMath==i ? 'bolder' : 'normal'
            }" (click)="selectedMath=i;setValue('math', item)">{{item}}</button></td>



          <td><button [ngClass]="{'ui': true , 'button': true, 'circular': true, 'large':true}" [ngStyle]="{
              'background-color': (selectedMusical==i) ? musical.color: '',
              'font-weight': selectedMusical==i ? 'bolder' : 'normal'
            }" (click)="selectedMusical=i;setValue('musical',item)">{{item}}</button></td>

          <td><button [ngClass]="{'ui': true,'button': true, 'circular': true, 'large':true}" [ngStyle]="{
              'background-color': (selectedUof==i) ? uof.color: '',
              'font-weight': selectedUof==i ? 'bolder' : 'normal'
            }" (click)="selectedUof=i;setValue('uof',item);">{{item}}</button></td>

          <td><button [ngClass]="{'ui': true,'button': true, 'circular': true, 'large':true}" [ngStyle]="{
              'background-color': (selectedManagerial==i) ? managerial.color: '',
              'font-weight': selectedManagerial==i ? 'bolder' : 'normal'
            }" (click)="selectedManagerial=i;setValue('managerial',item);">{{item}}</button></td>


          <td><button [ngClass]="{'ui': true,'button': true, 'circular': true, 'large':true}" [ngStyle]="{
              'background-color': (selectedOffice==i) ? office.color: '',
              'font-weight': selectedOffice==i ? 'bolder' : 'normal'
            }" (click)="selectedOffice=i;setValue('office',item);">{{item}}</button></td>
        </tr>

        <tr class="center aligned">
          <td>
            <button class="circular ui icon button large" style="background-color:#f0483e">
              <i class="wrench icon"></i>
            </button>
          </td>
          <td>
            <button class="circular ui icon button large" style="background-color:#f8941e">
              <i class="pencil alternate icon"></i>
            </button>
          </td>
          <td>
            <button class="circular ui icon button large" style="background-color:#ffce02">
              <i class="paint brush icon"></i>
            </button>
          </td>
          <td>
            <button class="circular ui icon button large" style="background-color: #00773f">
              <i class="users icon"></i>
            </button>

          </td>
          <td>
            <button class="circular ui icon button large" style="background-color:#0073a4">
              <i class="briefcase icon"></i>
            </button>

          </td>
          <td>
            <button class="circular ui icon button large" style="background-color:#9279b7">
              <i class="file alternate icon"></i>
            </button>

          </td>
        </tr>


      </tbody>
    </table>

    <button class="ui button right floated blue" (click)="submit()">Submit</button>
  </div>









  <div *ngIf="loader" class="showbox">
    <div class="loader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
      </svg>
    </div>
  </div>