<div *ngIf="!isSinglePrinting">
  <div class="ui top attached demo menu">
    <a class="item" (click)="sidebar.toggle()">
      <i class="sidebar icon"></i>
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui blue button" (click)="logout()">Logout</div>
      </div>
    </div>
  </div>

  <sui-sidebar-container class="ui bottom attached segment">
    <sui-sidebar class="vertical" #sidebar>
      <a class="item" routerLink="/admin/home">
        Home
      </a>
      <a class="item" routerLink="/takers-attendance">
        Attendance
      </a>
      <a class="item" routerLink="/admin/graph/specific">
        Specific Reports
      </a>
      <a class="item" routerLink="/admin/graph/general">
        General Reports
      </a>
      <a class="item" routerLink="/admin/old-print">
        Print Section
        <div class="ui grey horizontal label">Old</div>
      </a>
      <a class="item" routerLink="/admin/old-archive">
        Archive Section
        <div class="ui grey horizontal label">Old</div>
      </a>
      <a class="item" routerLink="/admin/print">
        Print Section
        <div class="ui grey horizontal label">New</div>
      </a>
      <a class="item" routerLink="/admin/new-print">
        Print Section
        <div class="ui red horizontal label">New</div>
      </a>
      <a class="item active" routerLink="/admin/archive">
        Archive Section
        <div class="ui grey horizontal label">New</div>
      </a>
      <a class="item" routerLink="/admin/new-archive">
        Archive Section
        <div class="ui red horizontal label">New</div>
      </a>
      <a class="item" routerLink="/admin/settings">
        Accounts Settings
      </a>
    </sui-sidebar>

    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
      <div class="ui basic segment container">
        <h2 class="ui center aligned icon header">
          <i class="circular archive icon"></i>
          Archive Section

          <div class="sub header">This page is for handling printed self-directed-search result of every student</div>
        </h2>

        <div class="ui info message">
          <div class="header">
            Some of the action you can do in this section
          </div>
          <ul class="list">

            <li> You can individually print the result(s) by clicking the "View result" button once the modal is
              open
              you will see the print button on the upper right corner of the modal</li>
          </ul>
        </div>
        <br>
        <div class="ui input" style="float:right">
          <input type="text" placeholder="Search..." (input)="onSearchChange($event.target.value)">
        </div>
        <div class="ui huge header center aligned" *ngIf="noResult">No printed self-directed-search result</div>
        <table class="ui celled table" *ngIf="!noResult">
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of oldResultData | paginate: { itemsPerPage: 10, currentPage: page } ; let i = index">
              <td>{{item.name}}</td>
              <td>{{item.username}}</td>
              <td>
                <div class="center">
                  <button class="ui blue button" (click)="viewSingleResult(item.id, item.name)">
                    View result
                  </button>
                </div>
              </td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <th colspan="5">
                <div class="ui right floated pagination menu">
                  <a></a>
                  <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>


    </sui-sidebar-sibling>
  </sui-sidebar-container>
</div>

<!-- View single result modal -->
<sui-modal [isClosable]="true" (dismissed)="resultModal = false" *ngIf="resultModal && !isSinglePrinting" #mymodal>
  <div class="header">
    <div class="right">
      <button class="ui labeled icon button blue" (click)="printSingleResult(singleResultId);">
        <i class="print icon"></i>
        Print
      </button>
    </div>
  </div>
  <div class="content">

    <div class="ui">
      <div class="ui segment" *ngFor="let code of singleResultData">
        <a class="ui red right ribbon label large">{{code.name}}</a>
        <div *ngFor="let indivCode of code.result">
          <div class="ui divided items">
            <div class="item">
              <div class="content">
                <a class="header">{{indivCode.occupation}}</a>
                <div class="description">
                  <p>{{indivCode.description}}</p>
                </div>

                <div class="extra">
                  <a href="{{indivCode.link}}" class="ui right floated blue button">
                    See more details here
                    <i class="right chevron icon"></i>
                  </a>
                </div>

                <hr>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="actions">
    <button class="ui red button" (click)="mymodal.deny()">Close</button>
  </div>

</sui-modal>

<!-- Single Print -->
<!-- Single Print -->
<div *ngIf="isSinglePrinting">
  <div class="ui active dimmer" *ngIf="loader">
    <div class="ui massive text loader">Loading</div>
  </div>


  <div class="head">
    <div style="margin-bottom:10px;padding-right:20px;padding-left:20px;">
      <div id="logo_header" class="ui">
        <img src="assets/images/gclogoprint.png" class="ui mini left floated image" alt="">
        <img src="assets/icons/riasec-logo.png" class="ui mini right floated image" alt="">
      </div>
      <h4 class="center" style="font-weight:bolder">GORDON COLLEGE</h4>
      <h4 class="center" style="font-weight:bolder">STUDENT WELFARE OFFICE</h4>
      <p class="center" style="font-weight:bold">Tapinac Oval Sports Complex, East Tapinac, Olongapo City</p>

    </div>
  </div>




  <div class="body">

    <div style="margin-left:20px; margin-right:20px;">
      <hr>
      <div class="ui black message" id="message">
        {{singleResultName}}
        <span style="float:right">{{dateNow}}</span>
      </div>
    </div>
    <h2 class="center container" id="print_header">OFFICIAL RESULT</h2>
    <div class="ui grid" style="margin-left:20px; margin-right:20px;">
      <div class="eight wide column">
        <div class="ui card" style="height:100%;width:100%;">
          <div class="content">
            <h3 class="ui header center bolder">Summary Code Occupations</h3>

            <div class="ui bulleted divided list">
              <div class="item" *ngFor="let item of allOccupations">{{item.occupation}}</div>

            </div>



          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui card" style="width:100%;height:100%;">
          <div class="content">

            <h3 class="ui header center bolder">My Summary Code</h3>
            <div class="containerBox">

              <img src="assets/icons/riasec-logo.png" class="img-summary" alt="" width="200" height="200">
              <div class="center-text">
                <span *ngFor="let code of summaryCode" style="font-weight:bolder;font-size:1.5em"
                  [ngStyle]="{'color': true ? getColor(code) : ''}">
                  {{code}}
                </span>
              </div>
            </div>

            <div *ngFor="let code of summaryCode">
              <div class="ui divider"></div>
              <img class="ui middle aligned tiny image" src="assets/icons/{{code}}_icon.png">
              <span style="font-weight: bolder; font-size:1.5em; margin-left: 10px;letter-spacing: 5px;"
                [ngStyle]="{'color': true ? getColor(code) : ''}">
                {{getWord(code)}}</span>
            </div>






          </div>
        </div>

      </div>
    </div>

    <div class="ui tiny message" style="margin-left:20px; margin-right:20px;">
      <p style="font-style:italic">Note: You can use your summary code to search all of the occupation(s)
        available on your code
        in https://www.onetonline.org/ </p>
    </div>
  </div>

</div>