/* @import url('https://fonts.googleapis.com/css?family=Staatliches'); */
h4,h5{
    margin:0;
    font-family: 'Montserrat-Black';
}
h3{
    margin: 0 0 0 0;
    font-family: 'Montserrat';
}
.printContent{
    width:940px;
    height:100vh;
    page-break-inside:avoid !important;
}

@media print {
    thead > tr > th{
        color:black !important;
        
     }

     tbody > tr > td {
         font-weight: 600 !important;
     }
}


thead > tr > th{
    background-color:#9E7EE2;
    color:white;
 }