<div>
  <div class="ui top attached demo menu">
    <a class="item" (click)="sidebar.toggle()">
      <i class="sidebar icon"></i>
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui blue button" (click)="logout()">Logout</div>
      </div>
    </div>
  </div>

  <sui-sidebar-container class="ui bottom attached segment">
    <sui-sidebar class="vertical" #sidebar style="height:100%">
      <a class="item" routerLink="/admin-home">
        Home
      </a>
      <a class="item " routerLink="/takers-attendance">
        Attendance
      </a>
      <a class="item" routerLink="/admin-graph-specific">
        Specific Reports
      </a>
      <a class="item" routerLink="/admin-graph-general">
        General Reports
      </a>
      <a class="item" routerLink="/admin-new-print">
        Print Section
      </a>
      <a class="item" routerLink="/admin-new-archive">
        Archive Section
      </a>
      <a class="item active" routerLink="/admin-settings">
        Accounts Settings
      </a>
      <a class="item" routerLink="/admin-events">
        Events
      </a>
      <a class="item" routerLink="/admin-messages">
        Messages
      </a>
    </sui-sidebar>

    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
      <div class="ui segment" style="min-height:100vh">
        <h2 class="ui violet center aligned icon header" style="padding:15px;">
          <i class="violet settings icon"></i>
          Settings Section

          <div class="sub header">Manage account settings</div>
        </h2>

        <div class="ui info message container">
          <div class="header">
            Some of the action you can do in this section
          </div>
          <ul class="list">
            <li>Use username(s) only as search value when searching for a certain student</li>
            <li>Search using the search bar on the upper right corner of the table</li>
            <li>Set account as a user</li>
            <li>Set account as an admin</li>

          </ul>
        </div>
        <div class="ui container">
          <div class="ui input" style="float:right;margin-bottom: 5px;">
            <input type="text" placeholder="Search..." (input)="onSearchChange($event.target.value)">
          </div>
          <table class="ui celled table center aligned">
            <thead>
              <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of allUsers | paginate: { itemsPerPage: 10, currentPage: page } ; let i = index">
                <td>{{item.name}}</td>
                <td>{{item.username}}</td>
                <td class="center aligned">
                  <div class="ui buttons">
                    <button class="ui button blue" [ngClass]="{'disabled': item.type == 'user', 'loading': isLoading}"
                      (click)="changeType('user',item.id)">
                      Set as user
                    </button>
                    <button class="ui button red" [ngClass]="{'disabled': item.type == 'admin', 'loading': isLoading}"
                      (click)="changeType('admin',item.id)">
                      Set as admin
                    </button>

                  </div>
                </td>

              </tr>
            </tbody>

            <tr>
              <th colspan="5">
                <div class="ui right floated pagination menu">
                  <a></a>
                  <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
              </th>
            </tr>
          </table>
        </div>

      </div>
    </sui-sidebar-sibling>
  </sui-sidebar-container>
</div>