<app-header></app-header>

<br>


<div class="ui container">

    <h1 class="ui header bolder primary underlined">Profile Page</h1>
    <div class="ui breadcrumb">
        <a class="section" routerLink="/">Home</a>
        <i class="right arrow icon divider"></i>
        <div class="active section">Profile</div>
    </div>
    <h2 class="ui header bolder">Good day, <span class="primary">{{userInfo.name}}</span></h2>

    <hr>
</div>

<br>
<div class="ui one column grid container padding">

    <div class="column">
        <h2 class="ui header center primary bolder" *ngIf="emptyResult">Self Directed Search still not taken</h2>
        <div class="ui card" style="width:100%" *ngIf="!emptyResult">
            <div class="content">
                <h2 class="ui icon header center aligned">
                    <i class="briefcase icon"></i>
                    <div class="content">
                        SDS Result
                        <div class="sub header">Career Assestment Result</div>
                    </div>
                </h2>
            </div>
            <div class="content">
                <div class="ui grid ">
                    <div class="ui segment sixteen wide column " *ngFor="let code of codes;let i = index;" style="margin:20px;">
                        <a class="ui right ribbon label large" [ngStyle]="{'background-color': true ? colors[i]: ''}">{{code.name}}</a>
                        <div *ngFor="let indivCode of code.result">
                            <div class="ui divided items">
                                <div class="item">
                                    <div class="content">
                                        <a class="header">{{indivCode.occupation}}</a>
                                        <div class="description">
                                            <p>{{indivCode.description}}</p>
                                        </div>

                                        <div class="extra">
                                            <a href="{{indivCode.link}}" class="ui right floated blue button">
                                                See more details here
                                                <i class="right chevron icon"></i>
                                            </a>
                                        </div>

                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>