/* You can add global styles to this file, and also import other style files */
/* Utilitiy Classes */
@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
  }
.bolder {
    font-weight: bolder !important;
}

.primary{
    color: #003863 !important;
}
.secondary{
    color: #f3f3f3;
}
.center{
    text-align: center
}
.right{
    text-align: right;
}
.underlined{
    text-decoration:underline;
}
.padding{
    padding:20px;
}
.item{
    font-size:1rem !important;
    font-weight: 500 !important;
}

/* Loader */


/* Color Theme */
.r_text{
    color:#f1463c;
}
.i_text{
    color: #F7941D;
}
.a_text{
    color: #FFCE02;
}
.s_text{
    color: #00763F;
}
.e_text{
    color: #00763F;
}
.c_text{
    color: #9279B7;
}

html { overflow-y: hidden; }
html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, Roboto; }


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
        p#parag{
            font-size:.8em !important;
        }
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    p#parag{
        font-size:1.2em !important;
    }
    }

    @media only screen and (min-width : 890px) {
        /* Styles */
        p#parag{
            font-size:2em !important;
        }
        }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    p#parag{
        font-size:.9em !important;
    }
    }


    /* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */
    p#parag{
        font-size:1.5em !important;
    }
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    p#parag{
        font-size:1.8em !important;
    }
    }