/* You can add global styles to this file, and also import other style files */
/* Utilitiy Classes */

.bolder {
    font-weight: bolder !important;
}

.primary{
    color: #003863 !important;
}
.secondary{
    color: #f3f3f3;
}
.center{
    text-align: center
}
.right{
    text-align: right;
}
.underlined{
    text-decoration:underline;
}
.padding{
    padding:20px;
}
.item{
    font-size:1rem !important;
    font-weight: 500 !important;
}

/* Loader */


/* Color Theme */
.r_text{
    color:#f1463c;
}
.i_text{
    color: #F7941D;
}
.a_text{
    color: #FFCE02;
}
.s_text{
    color: #00763F;
}
.e_text{
    color: #00763F;
}
.c_text{
    color: #9279B7;
}