

.content_section{
    position: absolute;
    z-index: 1;
    color: #f3f3f3;
    top: 20%;
    left: 8%;
    right: 8%;
}
#header-section::after{
    content: '';
    width: 100%;
    height: 70vh;
    background: url('../../assets/images/showcase.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    color: #f3f3f3;
    transition: all 1000ms;
}


.content div#intro-title{
    padding-top: 5%;
}
/* Defaults */
p{
    font-size: 1.1rem;
    font-weight: 400;
}


section{
    margin-bottom: 5%;
}


#gray-section{
    padding: 7%;
    margin-top: 5%;
    background: #F5F7F8;
    margin-bottom: 0;
}
/* Left Side */
section#gray-section div div#left{
    border-top:#E6ECEE solid 1px;
    border-right:#E6ECEE solid 1px;
    height:300px;
    padding-top: 55px;
}
/* Quote */
section#gray-section div div#left p#quote{
    color: gray;
    font-style: italic;
    font-weight: 700;
    font-size: 1.5em;
}
/* Left Side */
/* Right Side */
section#gray-section div div#right{
    border-top:#E6ECEE solid 1px;
    border-left:#E6ECEE solid 1px;
    height:300px;
    padding-top: 55px;
}
/* Right Side */





