<!-- Header -->
<div class="ui secondary  menu container" style="margin-top:5px;">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <a class="ui item" (click)="start()">
      Start
    </a>
    <div class="ui item dropdown" suiDropdown>
      <div class="text">Name</div>
      <i class="dropdown icon"></i>
      <div class="menu" suiDropdownMenu>
        <div class="item">View Profile</div>
        <div class="item">Logout</div>
      </div>
    </div>
  </div>
</div>
<!-- Header -->




<!-- Section -->
<section id="header-section">
  <div class="row container content_section">
    <div class="col l7" id="intro-title">
      <h1 class="bolder center ui header" style="color:white;font-size: 3.5rem">What is the SDS?</h1>
      <p class="center" style="font-size:1.5rem">The next generation of John Holland’s Self-Directed Search® (SDS®) is
        a
        career assessment and
        exploration
        tool that matches your aspirations, activities, and talents to the career choices and educational
        opportunities
        that fit you best.</p>
    </div>
    <div class="col l5">

    </div>

  </div>


</section>
<!-- End of Section -->




<!-- Section -->
<section>
  <h1 class="center bolder ui header primary">How SDS Works</h1>
  <p class="center" style="color: gray">Choose a career that based on your personality and skills</p>
  <br>
  <br>
  <div class="ui grid container">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <img src="assets/images/questions.png" alt="" class="responsive-img" style="margin-right: 20px;">
      <h4 class="bolder primary ui header">Answer</h4>
      <p style="color: gray;font-weight: 500;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
        aperiam in nostrum iure iusto laborum, perferendis
        nobis aliquid, ut doloribus ea ullam, alias autem laboriosam.</p>
    </div>
  </div>


  <div class="ui grid container">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <p style="text-align:right"><img src="assets/images/evaluation.png" class="responsive-img" alt="" style="margin-left: 20px;"></p>
      <h4 class="primary bolder ui header">Evaluate</h4>
      <p style="color:gray;font-weight: 500;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
        iure placeat ad voluptate soluta quo rem excepturi
        corrupti ab sit quas, nemo fuga harum temporibus?</p>
    </div>
  </div>

  <div class="ui grid container">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <img src="assets/images/menu.png" alt="" class="responsive-img left" style="margin-right: 20px;">
      <h4 class="primary bolder ui header">Choose</h4>
      <p style="color: gray;font-weight: 500">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Eveniet ab maiores magni atque impedit non, tenetur
        aspernatur vero ipsum a consequuntur odio voluptatibus. Nobis, officiis?</p>
    </div>
  </div>
</section>




<!-- End of Section -->
<br>
<br>



<!-- Section -->
<section>
  <h1 class="bolder center primary">The Self-Directed Search is for</h1>
  <div class="ui grid container">
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img class="ui circular image" src="assets/images/meeting.png">
        </div>
        <div class="content">
          <a class="header center bolder">Career Counselors</a>
          <div class="description center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, saepe tempora. Nam, nulla! Similique eius
            voluptates blanditiis fugiat dolore vero!
          </div>
        </div>
        <div class="extra content">
          <a class="center">
            Click here to see more
          </a>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img class="ui circular image" src="assets/images/briefcase.png">
        </div>
        <div class="content">
          <a class="header bolder center">Career Transition</a>

          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus architecto corporis quasi esse
            asperiores nostrum facilis quia cupiditate amet incidunt.
          </div>
        </div>
        <div class="extra content">
          <a>
            Click here to see more
          </a>
        </div>
      </div>

    </div>
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img class="ui circular image" src="assets/images/soldier.png">
        </div>
        <div class="content">
          <a class="header bolder center">Veterans</a>

          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, in omnis repellendus ducimus soluta
            culpa sunt. Est animi quas quis?
          </div>
        </div>
        <div class="extra content">
          <a>
            Click here to see more
          </a>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img class="ui circular image" src="assets/images/school.png">
        </div>
        <div class="content">
          <a class="header bolder center">Career Counselors</a>

          <div class="description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde voluptatem molestias veniam porro modi minus
            consequatur, ipsam fugiat blanditiis deserunt!
          </div>
        </div>
        <div class="extra content">
          <a>
            Click here to see more
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->
<br>
<br>


<div class="ui placeholder segment container">
  <div class="ui two column very relaxed stackable grid">
    <div class="column" style="margin-top:150px;">
      <h3 style="color:#808080;font-style:italic;font-weight: normal">
        “Choose a job you love, and you will never have to work a day in your life.”
        <br><br><span style="font-size:1.6em;font-style:bold;color:#808080">-Confucius</span>
      </h3>
    </div>

    <div class="column" style="margin-top:50px;">
      <h2 class="primary bolder center">Self directed search video</h2>
      <video controls width="500" height="300">
        <source src="assets/videos/video.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="ui vertical divider">

  </div>
</div>


<!-- Footer -->
<div class="ui inverted vertical footer segment">
  <div class="ui container center">
    Gordon College All Rights Reserved
  </div>
</div>
<!-- Footer -->