<!-- Header -->
<header>
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Self-directed search</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#!" class="primary bolder">What is RIASEC?</a></li>
        <li><a href="#!" class="primary bolder">Who is John Holland?</a></li>
        <li><a (click)="start()" class="primary bolder">Start Now</a></li>
      </ul>
    </div>
  </nav>
</header>
<!-- Header -->




<!-- Section -->
<section id="header-section">
  <div class="row container content">
    <div class="col l7" id="intro-title">
      <h2 class="bolder">What is the SDS?</h2>
      <p>The next generation of John Holland’s Self-Directed Search® (SDS®) is a career assessment and
        exploration
        tool that matches your aspirations, activities, and talents to the career choices and educational
        opportunities
        that fit you best.</p>
    </div>
    <div class="col l5">

    </div>

  </div>


</section>
<!-- End of Section -->




<!-- Section -->
<section>
  <h3 class="center bolder primary">How SDS Works</h3>
  <p class="center" style="color: gray">Choose a career that based on your personality and skills</p>
  <br>
  <br>
  <div class="row container">


    <div class="col l9 offset-l2">
      <img src="assets/images/questions.png" alt="" class="responsive-img left" style="margin-right: 20px;">
      <h4 class="bolder primary">Answer</h4>
      <p style="color: gray;font-weight: 500;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
        aperiam in nostrum iure iusto laborum, perferendis
        nobis aliquid, ut doloribus ea ullam, alias autem laboriosam.</p>
    </div>
  </div>


  <div class="row container">
    <div class="col l9 offset-l2">
      <img src="assets/images/evaluation.png" class="responsive-img right" alt="" style="margin-left: 20px;">
      <h4 class="primary bolder">Evaluate</h4>
      <p style="color:gray;font-weight: 500;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
        iure placeat ad voluptate soluta quo rem excepturi
        corrupti ab sit quas, nemo fuga harum temporibus?</p>
    </div>
  </div>

  <div class="row container">
    <div class="col l9 offset-l2">
      <img src="assets/images/menu.png" alt="" class="responsive-img left" style="margin-right: 20px;">
      <h4 class="primary bolder">Choose</h4>
      <p style="color: gray;font-weight: 500">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Eveniet ab maiores magni atque impedit non, tenetur
        aspernatur vero ipsum a consequuntur odio voluptatibus. Nobis, officiis?</p>
    </div>
  </div>
</section>



<!-- End of Section -->
<br>
<br>



<!-- Section -->
<section>
  <h3 class="bolder center primary">The Self-Directed Search is for</h3>
  <div class="row container">
    <div class="col l3">
      <div class="">
        <div class="circle-content">
          <p class="center">
            <img src="assets/images/meeting.png" alt="" class="responsive-img"></p>

          <h5 class="primary bolder center">Career Counselors</h5>
          <p style="color: gray;font-weight: 500;text-indent:10%;">Lorem ipsum dolor sit, amet
            consectetur adipisicing
            elit. Debitis ipsam molestias quae nobis dolor
            odio, eveniet soluta dicta blanditiis doloribus rerum fuga ullam! Et, earum.</p>
          <a href="#!">Click here to see more</a>
        </div>
      </div>
    </div>
    <div class="col l3">
      <div class="">
        <div class="circle-content">
          <p class="center">
            <img src="assets/images/briefcase.png" alt="" class="responsive-img"></p>

          <h5 class="primary bolder center">Career Transition</h5>
          <p style="color: gray;font-weight: 500;text-indent:10%;">Lorem ipsum dolor sit, amet
            consectetur adipisicing
            elit. Debitis ipsam molestias quae nobis dolor
            odio, eveniet soluta dicta blanditiis doloribus rerum fuga ullam! Et, earum.</p>

          <a href="#!">Click here to see more</a>

        </div>
      </div>
    </div>
    <div class="col l3">
      <div class="">
        <div class="circle-content">
          <p class="center">

            <img src="assets/images/soldier.png" alt="" class="responsive-img">
          </p>

          <h5 class="primary bolder center">Veterans</h5><br>
          <p style="color: gray;font-weight: 500;text-indent:10%;">Lorem ipsum dolor sit, amet
            consectetur adipisicing
            elit. Debitis ipsam molestias quae nobis dolor
            odio, eveniet soluta dicta blanditiis doloribus rerum fuga ullam! Et, earum.</p>
          <a href="#!">Click here to see more</a>


        </div>

      </div>
    </div>
    <div class="col l3">
      <div class="">
        <div class="circle-content">
          <p class="center">

            <img src="assets/images/school.png" alt="" class="responsive-img">
          </p>

          <h5 class="primary bolder center">Students & Parents</h5>
          <p style="color: gray;font-weight: 500;text-indent:10%;">Lorem ipsum dolor sit, amet
            consectetur adipisicing
            elit. Debitis ipsam molestias quae nobis dolor
            odio, eveniet soluta dicta blanditiis doloribus rerum fuga ullam! Et, earum.</p>
          <a href="#!">Click here to see more</a>

        </div>

      </div>
    </div>
  </div>
</section>
<!-- End of Section -->
<br>
<br>


<!-- Section -->
<section id="gray-section">
  <div class="row container">

    <p class="center" id="logos">
      <a href="#!"><img src="assets/images/facebook.png" class="responsive-img" alt="" height="50" width="50"></a>
      <a href="#!"><img src="assets/images/instagram.png" class="responsive-img" alt="" height="50" width="50"></a>
      <a href="#!"><img src="assets/images/youtube.png" class="responsive-img" alt="" height="50" width="50"></a>
      <a href="#!"><img src="assets/images/twitter.png" class="responsive-img" alt="" height="50" width="50"></a>
    </p>


  </div>
  <div class="row container">
    <div class="col l6" id="left">
      <p id="quote">
        “Choose a job you love, and you will never have to work a day in your life.”
        <br><br><span style="font-size:1.6em;font-style:bold;">-Confucius</span>
      </p>
    </div>
    <div class="col l6" id="right">
      <h5 class="primary bolder center">Self directed search video</h5>
      <video class="responsive-video" controls>
        <source src="assets/videos/video.mp4" type="video/mp4">
      </video>

    </div>
  </div>
</section>
<!-- End of Section -->


<footer class="page-footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col l6">
        <!-- Logo -->
        <img src="assets/images/graph.png" class="responsive-img" alt="" height="150" width="150">
      </div>
      <div class="col l3">
        <ul>
          <li><a class="primary" href="#!" style="font-weight:500;">About</a></li>
          <li><a class="primary" href="#!" style="font-weight:500;">Careers</a></li>
          <li><a class="primary" href="#!" style="font-weight:500;">Terms</a></li>
          <li><a class="primary" href="#!" style="font-weight:500;">Privacy</a></li>
        </ul>

      </div>
      <div class="col l3">
        <ul>
          <li><a class="primary" href="#!" style="font-weight:500;">Facebook</a></li>
          <li><a class="primary" href="#!" style="font-weight:500;">Instagram</a></li>
          <li><a class="primary" href="#!" style="font-weight:500;">Youtube</a></li>
          <li><a class="primary" href="#!" style="font-weight:500;">Twitter</a></li>
        </ul>

      </div>
    </div>
  </div>
  <div class="footer-copyright white">
    <div class="container primary" style="font-weight:500">
      ©
      <script>document.write(new Date().getFullYear())</script> Copyright Text
    </div>
  </div>
</footer>