<!-- Header -->
<app-header></app-header>

<!-- Header -->
<br>

<!-- Section -->
<section id="header-section">
  <div class="row container content_section">
    <div class="col l7" id="intro-title">
      <h1 class="bolder center ui header" style="color:white;font-size: 3.5rem">What is the SDS?</h1>
      <p class="center" style="font-size:1.5rem">The next generation of John Holland’s Self-Directed Search® (SDS®) is
        a
        career assessment and
        exploration
        tool that matches your aspirations, activities, and talents to the career choices and educational
        opportunities
        that fit you best.</p>
    </div>
    <div class="col l5">

    </div>

  </div>


</section>
<!-- End of Section -->




<!-- Section -->
<section>
  <h1 class="center bolder ui header primary">How SDS Works</h1>
  <p class="center" style="color: gray">Choose a career that based on your personality and skills</p>
  <br>
  <br>
  <div class="ui grid container">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <img src="assets/images/questions.png" alt="" class="responsive-img" style="margin-right: 20px;">
      <h4 class="bolder primary ui header">Answer</h4>
      <p style="color: gray;font-weight: 500;">Answer questions about what you like on following categories:
        Activities, Occupations and Competencies </p>
    </div>
  </div>


  <div class="ui grid container">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <p style="text-align:right"><img src="assets/images/evaluation.png" class="responsive-img" alt="" style="margin-left: 20px;"></p>
      <h4 class="primary bolder ui header">Evaluate</h4>
      <p style="color:gray;font-weight: 500;">Evaluate your answers based on RIASEC theory (Realistic, Investigative,
        Artistic, Social, Enterprising, and Conventional) and get a code(s)</p>
    </div>
  </div>

  <div class="ui grid container">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <img src="assets/images/menu.png" alt="" class="responsive-img left" style="margin-right: 20px;">
      <h4 class="primary bolder ui header">Choose</h4>
      <p style="color: gray;font-weight: 500">Browse the result of SDS which is based on your personality and skills,
        and pick the occupation you like</p>
    </div>
  </div>
</section>




<!-- End of Section -->
<br>
<br>



<!-- Section -->
<section>
  <h1 class="bolder center primary">The Self-Directed Search is for</h1>
  <div class="ui grid container">
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img class="ui circular image" src="assets/images/meeting.png">
        </div>
        <div class="content">
          <a class="header center bolder">Career Counselors</a>
          <div class="description center">
            Enhance your counseling service by adding a psychometrically sound, widely used career interest inventory
            to your assessment lineup.
          </div>
        </div>

      </div>
    </div>
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img class="ui circular image" src="assets/images/briefcase.png">
        </div>
        <div class="content">
          <a class="header bolder center">Career Transition</a>

          <div class="description">

            Sometimes you just need a change—and sometimes a change is your only option. Find out what types of careers
            are right for you now.

          </div>
        </div>

      </div>

    </div>
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img class="ui circular image" src="assets/images/soldier.png">
        </div>
        <div class="content">
          <a class="header bolder center">Veterans</a>

          <div class="description">

            The transition to civilian life is uniquely challenging. Ease the shift by exploring career options that
            correspond to your military experience.

          </div>
        </div>

      </div>
    </div>
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img class="ui circular image" src="assets/images/school.png">
        </div>
        <div class="content">
          <a class="header bolder center">Career Counselors</a>

          <div class="description">

            Student life is filled with choices. Make the big one easier by discovering the majors, fields of study,
            and jobs that fit your personality best.

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- End of Section -->
<br>
<br>


<div class="ui placeholder segment container">
  <div class="ui two column very relaxed stackable grid">
    <div class="column" style="margin-top:150px;">
      <h3 style="color:#808080;font-style:italic;font-weight: normal">
        “Choose a job you love, and you will never have to work a day in your life.”
        <br><br><span style="font-size:1.6em;font-style:bold;color:#808080">-Confucius</span>
      </h3>
    </div>

    <div class="column" style="margin-top:50px;">
      <h2 class="primary bolder center">Self directed search video</h2>
      <video controls width="500" height="300">
        <source src="assets/videos/video.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="ui vertical divider">

  </div>
</div>


<!-- Footer -->
<div class="ui inverted vertical footer segment">
  <div class="ui container center">
    Gordon College All Rights Reserved
  </div>
</div>
<!-- Footer -->